{% macro navlink(request, endpoint, text, icon='') %}
{% if icon %}
  {% set icon='<i class="' ~ icon ~ '"></i>' %}
{% endif %}
{%- if request.endpoint.endswith(endpoint) %}
<li class='active'><a href='javascript:void(0)'>{{icon|safe}} {{text}}</a></li>
{% else %}
<li><a href='{{url_for(endpoint)}}'>{{icon|safe}} {{text}}</a></li>
{%- endif %}
{% endmacro %}

{% macro render_field(field) %}
  <div class="control-group {% if field.errors %}error{% endif %}">
    {{ field.label }}
    {{ field(**kwargs) }}
    {% if field.errors %}
      <ul class="help-inline">
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_size_option(size) %}
  <option value="{{ size.id }}">{{ size.width }}x{{ size.height}} - ${{ size.price // 100 }}</option>
{% endmacro %}

{% macro render_price(size) %}
  <div class="row">
    <div class="span10">
      <img src="http://placehold.it/{{size.width * 20}}x{{size.height*20}}/D91965/fff&text={{size.width}}x{{size.height}}" alt="{{size.width}}x{{size.height}}">
    </div>
    <div class="span2">
      <h1>${{size.price // 100}}</h1>
    </div>
  </div>
{% endmacro %}
