<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Artwork - Michael Warkentin</title>

    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <a href="{{ url_for('gallery') }}" class="brand">Michael Warkentin</a>
                <ul class="nav">
                    <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                    <li><a href="{{ url_for('prices') }}">Prices</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block extra_js %}{% endblock %}
</body>
</html>
