{% from "_macros.html" import google_analytics, navlink %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}Abstract Art | Michael Warkentin{% endblock %}</title>

    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <a href="{{ url_for('gallery') }}" class="brand">Michael Warkentin</a>
                <ul class="nav">
                    {{ navlink(request, 'gallery', 'Gallery', 'icon-th-large') }}
                    {{ navlink(request, 'prices', 'Prices', 'icon-tags') }}
                    {{ navlink(request, 'contact', 'Contact', 'icon-envelope') }}
                </ul>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block extra_js %}{% endblock %}

    {% if config.GA_TRACKING_ID %}
        {{ google_analytics(config.GA_TRACKING_ID, config.GA_DOMAIN_NAME) }}
    {% endif %}
</body>
</html>
