{% from "_macros.html" import render_field %}

{% extends "base.html" %}

{% block title %}Contact | {{ super() }}{% endblock %}

{% block content %}
    <form method="POST" action="">
        {{ form.csrf_token }}

        <fieldset>
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.message, rows=5, class="input-xlarge") }}
        </fieldset>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Send email</button>
        </div>
    </form>
{% endblock %}
