{% extends "base.html" %}

{% block content %}
    <form action="">
        <fieldset>
            <label for="">Name</label>
            <input type="text">

            <label for="">Email</label>
            <input type="email">

            <label for="">Message</label>
            <textarea name="" rows="5" class="input-xxlarge"></textarea>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Send email</button>
        </div>
    </form>
{% endblock %}
