{% extends "base.html" %}

{% block content %}
    <ul class="thumbnails">
        {% for piece in pieces %}
        <li class="span4">
            <div class="thumbnail">
                <a href="{{ url_for('detail', slug=piece.slug)}}">
                    <img src="{{ piece.cover_url }}" alt="{{ piece.title }}">
                </a>
                <p class="pull-right muted">{{ piece.created.strftime('%B %d, %Y') }}</p>
                <strong>{{ piece.title }}</strong>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
