{% from "_macros.html" import render_price %}

{% extends "base.html" %}

{% block title %}Prices | {{ super() }}{% endblock %}

{% block content %}
    <p class="lead">All pieces are printed using archival-grade canvas, printers, ink and frames. Hanging hardware is installed, and I'll even include a nail!</p>
    <p class="lead">Shipping is included to anywhere in Canada or the U.S.</p>
    <hr>
    {% for size in available_sizes %}
        {{ render_price(size) }}
        {%- if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
